<!-- templates/algotutor.html -->
{% extends 'base.html' %} 
<!-- {% load markdown_deux_tags %}  -->
{% block content %}
<h1 class="h1-algotutor">Master Coding Interviews</h1>
<div class="body-algotutor">
    <div class="contents-nav">
        <a href="#">Primitive types</a>
        <a href="#">Arrays</a>
        <a href="#">Strings</a>
        <a href="#">Linked Lists</a>
        <a href="#">Stacks</a>
        <a href="#">Queues</a>
        <a href="#">Binary Trees</a>
        <a href="#">Heaps</a>
        <a href="#">Searching</a>
        <a href="#">Hash Tables</a>
        <a href="#">Sorting</a>
        <a href="#">Binary Search Trees</a>
        <a href="#">Recursion</a>
        <a href="#">Dynamic Programming</a>
        <a href="#">Greedy Algorithms</a>
    </div>
    <!-- <div>
        {% for post in object_list %}
        <div class="post-entry-algotutor">
            <p>{{post.title}}</p>
            {{post.body|markdown}} {{post.date_created}}
        </div>
        {% endfor %}
    </div> -->
</div>
{% endblock content %}
