<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internships</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <!-- header: global to every page on the site -->
    <header>
        <h1>
            <a href="{% url 'internships' %}">Internships</a>
        </h1>
    </header>

    <!-- main content in different pages -->
    <main>
        {% block content %} {% endblock content %}
    </main>
    
    <!-- footer: global to every page on the site -->
    <footer>
        <div class="terms">
            <div class="flow-logo">
                <p>FLOW</p>
            </div>
            <div class="text">
                Copyright &copy; 
                <!-- update every year automatically -->
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
                Flow All rights reserved.
            </div>
            <div class="other-stuff">
                <ul class="o-stuff">
                    <li><a href="#"> Privacy Policy </a></li>
                    <li><a href="#"> Terms of use </a></li>
                    <li><a href="#"> Legal </a></li>
                    <li><a href="#"> Site Map </a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>