<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flow</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>

    <body>
        <header>
            <nav>
                <a href="{% url 'landing' %}">Home</a>
                <a href="{% url 'internships' %}">Internships</a>
                <a href="{% url 'networking' %}">Conferences</a>
            </nav>
        </header>

        <main>
            {% block content %} {% endblock content %}
        </main>

        <footer>
            <div class="footer-container">
                <div class="flow-logo">
                    <p>FLOW</p>
                </div>
            </div>
        </footer>
    </body>
</html>
