/* static/css/base.css  */

* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    background: transparent;
}

html {
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-weight: 100;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    display: grid;
    height: 100vh;
    margin: auto;
    text-decoration: none;
    color: #333333;
    background: #ffffff;
    min-width: 100vh;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
}

ul {
    list-style-type: none;
}

/* header */
header {
    background-color: #333333;
    position: fixed;
    width: 100vw;
}
nav {
    height: 4vh;
    text-align: center;
    width: 60vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
}
header a {
    color: #9d9c9c;
    transition: all 0.2s ease-in-out;
}
header a:hover {
    color: #ffffff;
}

/* main */
main {
    min-height: 100vh;
    padding-bottom: 15vh;
}
/* home */
.home {
    height: 100vh;
}

/* Algotutor */
.body-algotutor {
    width: 60vw;
    margin: 10px auto;
    text-align: center;
}
.contents-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.contents-nav a {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 5px;
}
.h1-algotutor {
    font-size: 2rem;
    text-align: center;
    padding: 8vh 0 4vh 0;
    color: #F65A5B;
}
.post-entry-algotutor {
    display: grid;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 50px;
}

/* internships */
.h1-internships {
    font-size: 2rem;
    text-align: center;
    padding: 8vh 0 4vh 0;
    color: #F65A5B;
}
.post-entry-internships {
    display: grid;
    background-color: #f4f4f4;
    grid-template-columns: 2fr 3fr 1fr 3fr 1fr;
    grid-gap: 2rem;
    border-radius: 5px;
    width: 60vw;
    margin: 10px auto;
    padding: 10px;
}

.post-entry-internships a {
    color: #f4f4f4;
    background-color: #00cc6a;
    border-radius: 5px;
    text-align: center;
    padding: 2px 0;
    transition: all 0.2s ease-in-out;
}
.post-entry-internships a:hover {
    transform: scale(1.1);
}

/* networking */
.h1-networking {
    font-size: 4rem;
    padding: 8vh 0 4vh 0;
    text-align: center;
    color: #F65A5B;
    text-transform: uppercase;
    letter-spacing: 2rem;
}
.post-entry-networking {
    display: grid;
    background-color: #f4f4f4;
    grid-template-columns: 2fr 5fr 1fr 0.5fr 2fr 1.2fr 1fr;
    grid-gap: 1rem;
    border-radius: 5px;
    width: 80vw;
    margin: 10px auto;
    padding: 10px;
}

.post-entry-networking a {
    color: #f4f4f4;
    background-color: #00cc6a;
    border-radius: 5px;
    text-align: center;
    padding: 2px 0;
    transition: all 0.2s ease-in-out;
}
.post-entry-networking a:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    background-color: #333333;
    color: #f4f4f4;
    height: 10vh;
    margin-bottom: -10vh;
}
footer .footer-container {
    font-size: 0.7em;
    width: 60vw;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
footer .footer-container .flow-logo p {
    font-size: 3rem;
    font-weight: 800;
    color: #404040;
}
